.btn {
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: #e2e5e8;
  color: inherit;
  font-weight: 600;
}

.btn.isSelected {
  background-color: black;
  color: #fff;
  font-weight: 600;
}

.btn:hover {
  background-color: black;
  color: #fff;
  font-weight: 600;
}

.btn:active {
  background-color: black;
  color: #fff;
  font-weight: 600;
}
