.user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 0px;
  display: block;
  margin-bottom: 24px;
}
.user__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.use__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.11) 7px 4px 14px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: -32px;
  padding-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.imgBox {
  position: relative;
  margin-bottom: 36px;
}
.changeWrapper {
  position: absolute;
  right: 0;
}
.edit-camera-warapper {
  display: flex;
  justify-content: baseline;
  flex-direction: row-reverse;
}
.lable-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
}
.lable-user:hover,
.lable-user:focus {
  color: orange;
}
.lable-user:hover svg {
  fill: orange;
  padding-right: 0px;
}
.edit-icon {
  margin-right: 4px;
}
.userImg {
  width: 233px;
  height: 233px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0px;
}
.input-list {
  padding-left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 16px;
}
.table__head {
  position: relative;
  padding: 0.25rem;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  max-width: 200px;
  font-size: 14px;
}
.table__row {
  &:nth-child(2n) {
    background-color: gray;
  }
}
.table__data {
  padding: 0.25rem;
  font-weight: 400;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  line-height: 1.3;
  max-width: 200px;
  font-size: 14px;
}
.edit_container {
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}
.changePhotoUser {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}
